apiVersion: v1
kind: Service
metadata:
  labels:
    app: pedidos
  name: app-service-pedidos
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  selector:
    app: pedidos
  type: {{ .Values.service.type | default "LoadBalancer" }}